@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: ;
}
button{
    border: none;
    padding: 0;
    outline: 0;
} 
html, body{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    /* overflow-x: hidden; */
}
:root{
    --gray-color: hsl(0, 0%, 41%);
    --cream-color: hsl(0, 0%, 98%);
    --black: hsl(0, 0%, 8%);
}
header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cream-color);
    padding: 1rem 1.9rem;
    height: 1.5rem;
}
.hide{
    display: none;
}
.nav-logo-group{
    display: flex;
}
.nav-logo-group .logo{
    margin-right: 2.3rem;
}
.nav-logo-group .logo img{
    display: block;
    width: 90%;
}
.nav-logo-group nav ul{
    display: flex;
    list-style: none;
    gap: 1.6rem;
}
.nav-logo-group nav ul li a{
    color: var(--gray-color);
    display: flex;
    align-items: center;
}
.nav-logo-group nav ul li a:hover{
    color: var(--black);
}
.nav-logo-group nav ul li a{
    text-decoration: none;
}
.nav-logo-group nav ul li ul{
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    box-shadow: 0px 0px 20px hsl(0, 0%, 85%);
    border-radius: 8px;
    padding: 1rem;
}
.nav-logo-group nav ul li.features ul.features-dropdown{
    margin-left: -2.5rem;

}
.nav-logo-group nav ul li ul li{
    margin: 10px 0;
}
.nav-logo-group nav ul li ul li:first-child{
    margin-top: 0px;
}
.nav-logo-group nav ul li ul li:last-child{
    margin-bottom: 0px;
}
.nav-logo-group nav ul li:hover ul{
    display: block;
}
.nav-logo-group nav ul li ul li a img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.nav-logo-group nav ul li ul li a span{
    font-size: 15px;
}
.features-dropdown::before{
    content: '';
    position: absolute;
    top: -2rem;
    left: 0;
    right: 0;
    height: 2rem;      
    background: transparent;
}
.company-dropdown::before{
    content: '';
    position: absolute;
    top: -2rem;
    left: 0;
    right: 0;
    height: 2rem;      
    background: transparent;
}
.registration-button-section{
    display: flex;
    justify-content: right;
}
.registration-button-section button{
    display: flex;
    justify-content: center;
    padding: 6px .8rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--gray-color);
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid transparent;
}
.registration-button-section button:hover{
    color: var(--black);
    border: 2px solid var(--black);
    transition: all 0.1s ease-in-out;
}
main{
    /* max-height: calc(100vh - 1.5rem); */
}
main .landing-page{
    display: flex;
    /* padding: 5rem; */
}
.landing-page .page-details{
    width: 50%;
}
.landing-page .page-image{
    width: 50%;
}

.page-image picture img{
    display: block;
    width: 100%;
    height: 20%;
    object-fit: fill;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}